# Imágenes y texturas
Ether-no/**/*.png filter=lfs diff=lfs merge=lfs -text
Ether-no/**/*.jpg filter=lfs diff=lfs merge=lfs -text
Ether-no/**/*.psd filter=lfs diff=lfs merge=lfs -text
Ether-no/**/*.tga filter=lfs diff=lfs merge=lfs -text
# Audio
Ether-no/**/*.wav filter=lfs diff=lfs merge=lfs -text
Ether-no/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
# Modelos 3D
Ether-no/**/*.fbx filter=lfs diff=lfs merge=lfs -text
Ether-no/**/*.obj filter=lfs diff=lfs merge=lfs -text
Ether-no/**/*.dae filter=lfs diff=lfs merge=lfs -text
# Videos
Ether-no/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
Ether-no/**/*.mov filter=lfs diff=lfs merge=lfs -text
# Asset Bundles
Ether-no/**/*.bundle filter=lfs diff=lfs merge=lfs -text
Ether-no/**/*.assets filter=lfs diff=lfs merge=lfs -text
# Otros formatos grandes
Ether-no/**/*.zip filter=lfs diff=lfs merge=lfs -text
Ether-no/**/*.rar filter=lfs diff=lfs merge=lfs -text
